/**

primary: #3685FE
text: #3B4455
light text #FDFEFD
background: #D5E1EF

*/
:root {
  --color-primary: #3685fe;
  --color-text: #3b4455;
  --color-light-text: hsl(212, 45%, 89%);
  --color-background: #d5e1ef;
  --title-size: 26px;
  --card-corner: 12px;
}

body {
  background-color: var(--color-background);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /** vh using 100% of the viewpoint*/
}

.card {
  color: var(--color-text);
  background-color: #fff;
  width: 240px;
  padding: 14px;
  border-radius: var(--card-corner);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.card--title {
  background-color: #fff; /* bc tab to do this    */
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: var(--card-corner);
}
h1,
p {
  text-align: center;
  padding: 7px;
  margin: 8px;
}
h1 {
  font-family: "Outfit", sans-serif;
  font-size: 19px;
}
p {
  font-size: 13px;
  font-family: "Outfit", sans-serif;
}
